<div class="white-box-shadow" *ngFor="let select of dataService.getPubs()">
	<div class="w-100 d-flex justify-content-end p-4">
		<button type="button" class="close black-color" aria-label="Close" (click)="onCancel()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="w-100 modal">
		<div class="w-100">
			<h1 class="modal-title">Kocsma Adatlap</h1>
		</div>
		<div class="form w-100 pt-5">
			<div class="group">
				<h3>Név:</h3>
				<div class="col-8">
					<label class="title">{{select.name}}</label>
				</div>
			</div>
			<div class="group">
				<h3>Cím:</h3>
				<div class="col-8">
					<label class="title">{{select.address}}</label>
					<button mat-raised-button color="primary" style="margin-left: 1em;" (click)="locationNavigate(select)">Megtekint</button>
				</div>
			</div>
			<div class="group">
				<h3>Italok:</h3>
				<div class="col-8">
                    <button mat-raised-button color="primary" style="margin-left: 1em;" (click)="drinkNavigate()">Megtekint</button>
				</div>
			</div>
            <div class="group">
				<h3>Létrehozás dátuma:</h3>
				<div class="col-8">
					<label class="title">{{select.createdAt | date: 'yyyy-MM-dd'}}</label>
				</div>
			</div>
		</div>
		<div class="w-100 py-5" style="margin-top: 3em;">
			<button mat-raised-button color="primary" (click)="onCancel()">Vissza</button>
		</div>
	</div>
</div>
