
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.modal-lg {
	max-width: 1490px !important;
}

.white-box-shadow {
	display: flex;
    margin: auto;
    display: flex;
    position: absolute;
    top: 150px;
    left: 500px;
    background-color: white;
    box-shadow: 0 0 0 9000px #000000b0;
}
.modal {
    margin: 3em;
    width: 650px;
}
.group {
    padding-bottom: 0.5em;
}
.title {
    margin-left: 5em;
}