<div class="justify-content-column">
  <div class="row" *ngFor="let list of dataService.getPubs()">
    <img />
    <button mat-raised-button color="primary" (click)="OpenModal(list.id)" data-backdrop="static" data-keyboard="false">
      {{ list.name }}
    </button>
  </div>
</div>
