/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.white-box-shadow {
	box-shadow: -5px 4px 6px rgba(0, 0, 0, 0.25);
	background-color: var(--hold-white);
	border-radius: 5px;
    width: 50%;
    display: flex;
    margin: auto;
}
.modal {
    margin: 3em;
    width: 650px;
}