<div class="justify-content-column">
    <table>
        <tr>
            <td>
                <div class="row" *ngFor="let pub of dataService.getPubs()">
                    <img>
                    <button (click)="pubLocation(pub)" mat-raised-button color="primary">{{pub.name}}</button>
                </div>
            </td>
            <td>
                <div>
                    <app-map [location]="selectedLocation"></app-map>
                </div>
            </td>
        </tr>
        <tr>

        </tr>
    </table>
</div>