.non-selected{
    border: 2px solid #673ab7;;
    padding: 10px;
}
.selected{
    background-color: plum;
    border: 2px solid plum;
}
.pointer{
    margin: 0.5em;
}
.logo{
    padding-right: 0.5em;
}