.item {
    cursor: pointer;
    float: left;
    width: 24.99999%;
    padding-bottom: 2em;
}

.cocktail-item-list {
    display: flex;
    margin-left: 200px;
    margin-top: 50px;
}
img{
    max-width: 30%;
    display: flex;
    justify-content: center;
}