<mat-toolbar color="primary">  
    <h1 class="logo">DrunkHUB</h1>
    <div class="justify-content-end">
      <label routerLink="/pubs" routerLinkActive="active" class="non-selected pointer">Kocsmák</label>
      <label routerLink="/drinks" routerLinkActive="active" class="non-selected pointer">Italok</label>
      <label routerLink="/locations" routerLinkActive="active" class="non-selected pointer">Helyszínek</label>
    </div>  
</mat-toolbar>
<router-outlet></router-outlet>