<div class="white-box-shadow" *ngIf="singleCocktail">
  <div class="w-100 d-flex justify-content-end p-4">
		<button type="button" class="close black-color" aria-label="Close" onclick="window.location.reload();">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
    <div class="image">
      <img [src]="singleCocktail.imgThumb" />
    </div>
    <div class="content">
      <a class="header">{{ singleCocktail.name }}</a><br>
      <div class="description">
        {{ singleCocktail.instructions }}<br>
      </div>
    </div>
    <div class="extra content">
      <div class="ui list">
        <div *ngIf="singleCocktail.ingredient1"><br>
          {{ singleCocktail.ingredient1 }}
          <span *ngIf="singleCocktail.measure1">
            |
            {{ singleCocktail.measure1 }}</span>
        </div>
        <div *ngIf="singleCocktail.ingredient2"><br>
          {{ singleCocktail.ingredient2 }}
          <span *ngIf="singleCocktail.measure2">
            |
            {{ singleCocktail.measure2 }}</span
          >
        </div>
        <div *ngIf="singleCocktail.ingredient3"><br>
          {{ singleCocktail.ingredient3 }}
          <span *ngIf="singleCocktail.measure3">
            |
            {{ singleCocktail.measure3 }}</span
          >
        </div>
        <div *ngIf="singleCocktail.ingredient4"><br>
          {{ singleCocktail.ingredient4 }}
          <span *ngIf="singleCocktail.measure4">
            |
            {{ singleCocktail.measure4 }}</span
          >
        </div>
        <div *ngIf="singleCocktail.ingredient5"><br>
          {{ singleCocktail.ingredient5 }}
          <span *ngIf="singleCocktail.measure5">
            |
            {{ singleCocktail.measure5 }}</span
          >
        </div>
        <div *ngIf="singleCocktail.ingredient6"><br>
          {{ singleCocktail.ingredient6 }}
          <span *ngIf="singleCocktail.measure6">
            |
            {{ singleCocktail.measure6 }}</span
          >
        </div>
        <div *ngIf="singleCocktail.ingredient7"><br>
          {{ singleCocktail.ingredient7 }}
          <span *ngIf="singleCocktail.measure7">
            |
            {{ singleCocktail.measure7 }}</span
          >
        </div>
        <div *ngIf="singleCocktail.ingredient8"><br>
          {{ singleCocktail.ingredient8 }}
          <span *ngIf="singleCocktail.measure8">
            |
            {{ singleCocktail.measure8 }}</span
          >
        </div>
      </div>
    </div>
  </div>