.white-box-shadow {	
    display: flex;
    margin: auto;
    display: flex;
    position: absolute;
    top: 150px;
    left: 500px;
    background-color: white;
    box-shadow: 0 0 0 9000px #000000b0;
}
.header{
    display: flex;
    font-family: 'Roboto';
    font-size: large;
}